/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700"); */

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins' ,sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

/* Navigation */
#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #000;
  transition: background-color 0.2s ease;
}

.nav-link{
  font-size: 1.1em !important;
  color: #fff !important;
  font-weight: 800;
}
.nav-link:hover{
  color: gold !important;
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand img{
  width: 150px;
}

#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #000;
  }
/*
.navbar{
  padding: .8rem;
} */

.navbar li{
  padding-right: 20px;
}
/* Navigation */

/* main body */

#mainContainer{
  margin-bottom: 25px;
  margin-top: 100px;
}
#mainContainer .imgCont img{
  width: 100%;
  margin-bottom: 10px;
}
#mainContainer div#left{
  /* background-color: blue; */
  /* height: 400px; */
  display: block!important;
}
#mainContainer div#center{
  /* background-color: green; */
  /* height: 400px; */
}
#mainContainer div#right{
  /* background-color: black; */
  /* height: 400px; */
}
#mainContainer div#center p{
  line-height: 32px;
  margin-top: 2em;
  font-size: 21px;
  letter-spacing: -0.003em;
  margin-bottom: -0.46em;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
#mainContainer div#center h1{
  /* margin-top: 1.95em !important; */
  font-weight: 600 !important;
}
#mainContainer div#center h2{
  margin-top: 1.95em !important;
  font-weight: 600 !important;
}
#mainContainer div#center h3{
  margin-top: 1.95em !important;
  font-weight: 600 !important;
}
/* main body */

/* footer */
footer{
  background-color: #3f3f3f;
  padding-top: 2rem;
  color: #A9A9A9;
}
/* footer */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  div#left{
    display: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  div#left{
    display: none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  div#left{
    display: block !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  div#left{
    display: block !important;
  }
  .nav-link{
    font-size: 1.1em !important;
    /* color: #A9A9A9 !important; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  div#left{
    display: block !important;
  }
}
