<section id="contactus">
  <h2>FEEL FREE TO CONTACT</h2>
  <div class="container-fluid">
    <div class="row">
      <!-- <div> -->
        <form autocomplete="off" action="https://formspree.io/mvowkjdn" method="POST">
          <div class="row upper-half" >
        <div class="col-sm-6 id="name-cont">
          <!-- <label for="name">NAME</label> -->
          <input type="text" id="name" name="name" placeholder="NAME" required>
        </div>
        <div class="col-sm-6" id="email-cont">
          <!-- <label for="email">EMAIL</label> -->
          <input type="email" id="email" name="_replyto" placeholder="EMAIL" required>
          </div>
          </div>
          <div id="message-cont">
          <!-- <label for="message">MESSAGE</label> -->
          <textarea id="message" rows="7" name="message" placeholder="MESSAGE" required></textarea>
          </div>
          <div id="submit-cont">
            <input type="submit" value="Send Mail">
          </div>
        </form>
      <!-- </div> -->
  </div>
  </div>
</section>
