<header class="header-section">
  <div class="container flex">
    <a class="logo relative" href="/#">
      <img alt="techylane logo" class="object-fit" src="{{ "/assets/img/logo.jpg" | prepend: site.url}}">
    </a>
    <ul class="menu-links flex fcenter">
      <li class="menu-item flex fcenter">
        <a class="nav-link f14" href="/blog">Blog</a>
      </li>
      <li class="menu-item flex fcenter">
        <a class="nav-link f14" href="/contact-us">Contact Us</a>
      </li>
      <li class="menu-item flex fcenter">
        <a class="nav-link f14" href="/about-us">
            About Us
        </a>
      </li>
    </ul>
    <div class="subscribe">
      <button class="subs-btn">Subscribe</button>
    </div>
  </div>
</header>
