<header class="header-section">
  <div class="container flex">
    <a class="logo relative" href="/">
      <img class="object-fit" alt="techylane logo" src="{{ "/assets/img/logo.jpg" | prepend: site.url}}">
    </a>
    <nav class="toggle-bar mob-visible">
      <i class="main-tick"></i>
    </nav>
    <div class="toggle-container flex">
      <ul class="menu-links flex fcenter">
        <li class="menu-item flex fcenter">
          <a class="nav-link f14" href="/blog">Blog</a>
        </li>
        <li class="menu-item flex fcenter mob-visible">
          <a class="nav-link f14 category-nav-item">Categories</a>
          <ul class="categories-list flex">
            {% for category in site.categories %}
            <li class="categories-item">
              <a class="cat-lnk" href="{{ site.url }}/category/{{ category | first | slugify }}" >{{category[0]}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="menu-item flex fcenter">
          <a class="nav-link f14" href="/contact-us">Contact Us</a>
        </li>
        <li class="menu-item flex fcenter">
          <a class="nav-link f14" href="/about-us">
              About Us
          </a>
        </li>
      </ul>
      <div class="subscribe">
        <button class="subs-btn">Subscribe</button>
      </div>
    </div>

  </div>
</header>
