<section class="modal subscribe-modal">
  <div class="modal-content subscribe-form relative">
    <span class="close-modal subscribe-close">&times;</span>
    <div class="container">
      <div class="left-s">
        <h2 class="title"><span>Subscribe</span> to our weekly newsletter</h2>
        <p class="subheading">Get all our latest, hottest and trending technical content delivered fresh to your inbox.
        </p>
      </div>
      <div class="right-s">
        {% include subscribe.html %}
      </div>
    </div>
  </div>
</section>