.header-section{
  background: #133271;
  height: 50px;
  .container{
    align-items: center;
    height: 100%;
    .toggle-container{
      flex: 1;
    }
    .logo{
      height: 43px;
      width: 120px;
    }
    .menu-links{
      margin-left: 30px;
      height: 100%;
      .menu-item{
        padding: 0 20px;
        height: 100%;
        .nav-link{
          letter-spacing: .88px;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
    .subscribe{
      order: 2;
      margin-left: auto;
      .subs-btn{
        background: none;
        color: #fff;
        font-size: 16px;
        border: 1px solid #fff;
        padding: 8px 24px;
        letter-spacing: .88px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.sticky-header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}

@media (max-width:767px){
  .header-section{
    .container{
      padding: 0 16px;
      .toggle-container{
        display: none;
      }
    }
  }
  .toggle-bar{
    position: absolute;
    right: 16px;
    width: 20px;
    height: 18px;
    border: none;
    -webkit-perspective: 400px;
    perspective: 400px;
    background: 0 0;
    cursor: pointer;
    opacity: 1;
    &::before, &::after, .main-tick{
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: #ebeff2;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    &::before, &::after{
      content: "";
      transform-origin: center right;
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    .main-tick{
      top: 50%;
      transform-origin: 50% 50%;
      transform: translate3d(0,-50%,0);
    }
  }
}

@media (max-width:767px){
  .menu-close{
    &::before{
      top: 2px;
      transform: rotate(-45deg);
    }
    .main-tick{
      transform: rotate(45deg);
      left: 3px;
    }
    &::after{
      content: none;
    }
  }
  .toggle-container.open{
    display: flex !important;
    position: fixed;
    top: 50px;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,.9);
    height: calc(100vh - 50px);
    z-index: 100;
    flex-direction: column;
    .menu-links{
      margin: 0;
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: start;
      padding: 10px 0;
      .menu-item{
        width: 100%;
        align-items: start;
        justify-content: flex-start;
        .nav-link{
          width: 100%;
          padding: 10px 0;
          position: relative;
          margin-bottom: 10px;
          &::after{
            content: "";
            background: linear-gradient(to right, rgba(33,54,97,1), #1d59d2, rgba(17,34,68,1));
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            left: 0;
          }
        }
      }
    }
    .subscribe{
      width: 100%;
      padding-left: 20px;
    }
  }
}