.latest-posts{
  background: #e7f1f7;
  padding: 60px 0;
  .latest-posts-list{
    display: inline-block;
    width: 100%;
    .post-item{
      width: 36%;
      float: left;
      height: 180px;
      overflow: hidden;
      display: flex;
      .image-section{
        height: 180px;
        width: 190px;
      }
      .lower-section{
        flex: 1;
        padding-left: 15px;
        .category{
          font-size: 12px;
          text-transform: capitalize;
        }
        .heading{
          font-size: 24px;
          font-weight: 500;
          line-height: 30px;
        }
        .content{
          font-size: 16px;
          line-height: 24px;
        }
      }
      &:first-child{
        width: 60%;
        float: left;
        height: 600px;
        margin-right: 4%;
        display: block;
        a{
          flex-direction: column;
        }
        .image-section{
          width: 100%;
          height: 370px;
        }
        .lower-section{
          display: inline-block;
          height: calc(100% - 370px);
          padding: 15px 0;
          .category{
            font-size: 14px;
            text-transform: capitalize;
          }
          .heading{
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;
            
          }
          .content{
            font-size: 18px;
            line-height: 28px;
          }
        }
      }
      &:not(:first-child){
        margin-bottom: 24px;
        .lower-section{
          .content{
            -webkit-line-clamp: 4;
          }
        }
      }
      .lower-section{
        .category{
          color: #0082e5;
          text-transform: capitalize;
        }
        .heading{
          color: #231f20;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .content{
          color: rgba(0,0,0,.6);
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.read-all-blogs{
  height: 300px;
  background: url(/assets/img/backgound.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 60px 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container{
    .content-section{
      text-align: center;
      .font-weight-light{
        font-size: 48px;
        color: #fff;
        font-weight: 500;
        line-height: 54px;
        letter-spacing: 1.2px;
      }
      .lead{
        color: #fff;
        border: 1px solid #fff;
        padding: 10px 28px;
        border-radius: 4px;
      }
    }
  }
}

.blog-categories{
  margin-bottom: 36px;
  .categories-list{
    .categories-item{
      width: 25%;
      height: 100px;
      border-radius: 15px;
      margin-right: 24px;
      margin-bottom: 24px;
      display: flex;
      .cat-lnk{
        width: 100%;
        color: #0082e5;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 96px;
        text-transform: capitalize;
      }
      &:nth-child(2n+1){
        background: #c0dcdf;
      }
      &:nth-child(2n){
        background: #eaf3f5;
      }
    }
  }
}

.trending-blogs{
  background: #e4eef5;
  padding: 60px 0 32px;
  .trending-list{
    flex-wrap: wrap;
    .trending-item{
      margin-bottom: 3.5%;
      width: 31%;
      margin-right: 3.5%;
      a{
        flex-direction: column;
        height: 100%;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
      .image-section{
        width: 100%;
        height: 190px;
      }
      .lower-section{
        background: #fff;
        padding: 15px;
        height: calc(100% - 185px);
        flex-wrap: wrap;
        justify-content: space-between;
        .category{
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #0082e5;
          text-transform: capitalize;
        }
        .s-date{
          font-size: 14px;
          line-height: 24px;
          text-align: right;
          color: rgba(0,0,0,.6);
        }
        .heading{
          color: #231f20;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
          line-height: 28px;
        }
        .content{
          font-size: 18px;
          line-height: 28px;
          color: rgba(0,0,0,.6);
          display: block;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.subscribe-form{
  background: #000;
  padding: 24px 0;
  .container{
    display: flex;
    .left-s{
      width: 40%;
      .title{
        font-size: 48px;
        color: #fff;
        font-weight: 400; 
        line-height: 70px;
        margin-bottom: 24px;
        span{
          color: #da6916;
        }
      }
      .subheading{
        color: #acacac;
        font-size: 24px;
        line-height: 35px;
        width: 70%;
      }
    }
    .right-s{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      *{
        width: 100%;
      }
      #mc_embed_signup_scroll{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #mce-EMAIL{
          background: #fff;
          border: none;
          height: 45px;
          width: 70%;
          padding: 0 16px;
          margin-bottom: 24px;
        }
        #mc-embedded-subscribe{
          background: #da6916;
          padding: 5px;
          height: auto;
          width: 70%;
          font-size: 18px;
        }
      }
    }
  }
}

.who-we-are{
  background: #f7efe0;
  padding: 60px 0;
  .container{
    align-items: center;
    .heading{
      font-size: 36px;
      line-height: 48px;
      flex: 1;
    }
    .item-list{
      width: 50%;
      padding-left: 48px;
      .item{
        align-items: center;
        margin-bottom: 8px;
        .svg-icon{
          height: 20px;
          width: 20px;
          fill: #0f1bec;
        }
        p{
          font-size: 18px;
          line-height: 26px;
          margin-left: 8px;
          letter-spacing: 1.2px;
          color: rgba(0,0,0,0.6);
        }
      }
    }
  }
}

@media (max-width:767px){
  .latest-posts{
    padding: 0;
    .container{
      padding: 16px;
      .latest-posts-list{
        .post-item{
          width: 100%;
          margin: 0;
          height: auto;
          flex-direction: column;
          position: relative;
          margin-bottom: 18px;
          a{
            flex-direction: column;
          }
          &::after{
            content: "";
            background: linear-gradient(to right,rgba(33, 54, 97, 0),rgb(29, 89, 210),rgba(17, 34, 68,0));
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            left: 0;
          }
          .image-section{
            width: 100%;
            height: 180px
          }
          .lower-section{
            padding: 15px 0;
          }
          &:first-child{
            width: 100%;
            height: auto;
            .lower-section{
              .heading{
                font-size: 24px;
                line-height: 30px;
              }
            }
            .image-section{
              height: 240px;
            }
          }
        }
      }
    }
  }

  .read-all-blogs{
    margin: 0;
    .container .content-section .font-weight-light{
      font-size: 32px;
      line-height: 40px;
    }
  }

  .blog-categories{
    margin-bottom: 0;
    .categories-list{
      display: inline-block;
      white-space: nowrap;
      width: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        width: 0 !important;
        height: 0;
      }
      .categories-item{
        display: inline-block;
        white-space: normal;
        width: auto;
        height: auto;
        padding: 20px;
        margin: 16px 16px 16px 0;
        &:first-child{
          margin-left: 16px;
        }
        .cat-lnk{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .trending-blogs{
    padding: 48px 0;
    .trending-list{
      display: inline-block;
      white-space: nowrap;
      overflow-x: scroll;
      width: 100%;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        width: 0 !important;
        height: 0;
      }
      .trending-item{
        display: inline-block;
        width: 300px;
        white-space: normal;
        margin-right: 16px;
        margin-bottom: 0;
        height: 355px;
        &:nth-child(3n){
          margin-right: 16px;
        }
        &:first-child{
          margin-left: 16px;
        }
      }
    }
  }

  .subscribe-form{
    .container{
      flex-direction: column;
      padding: 0 16px;
      .left-s{
        width: 100%;
        .title{
          font-size: 36px;
          line-height: 48px;
          margin-bottom: 12px;
        }
        .subheading{
          font-size: 18px;
          line-height: 28px;
          width: 100%;
          text-align: justify;
        }
      }
      .right-s{
        width: 100%;
      }
    }
  }

  .who-we-are{
    padding: 48px 0;
    .container{
      padding: 0 16px;
      flex-direction: column;
      .heading{
        font-size: 32px;
        line-height: 44px;
      }
      .item-list{
        width: 100%;
        padding-left: 0;
        margin-top: 8px;
        .item{
          align-items: unset;
          .svg-icon{
            margin-top: 5px;
          }
        }
      }
    }
  }
}