<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="3ycabCNT_1yCBoQK2C-TW--FJU-ToPOieSTFHKKKzyo" />
  <meta name="keywords" content="{{ page.keywords }}" >
  {% seo %}
  <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.url}}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6KWR5GVFG7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6KWR5GVFG7');
</script>
</head>
<body>

  {% include header.html %}

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Check out the latest tech blogs</h1>
          <a class="lead" href="blog">EXPLORE</a>
        </div>
      </div>
    </div>
  </header>

<section id="aboutus">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="img-wrap">
        <img alt="varun profile pic" src="assets/img/profile.jpg">
      </div>
    </div>
  <div class="col-sm-8">
    <h2>Varun Bisht</h2>
    <h4>Software Developer</h4>
    <p></p>
    <p>I have been working in IT industry for around 5 years with technologies related to Java.</p>
    <p>While building applications, there are topics which need detailed research which takes a lot of time and effort of the developer.</p>
    <p>So to save time and effort of the developers, I will try to provide detailed knowledge of these topics through this platform.</p>
    <p>I hope my blogs will help you and save your time.</p>
  </div>
</div>
</div>
</section>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
