<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="2552ysw8xadzie_z1W191DP3y06hZWYhA40ULvZFRFk" />
  <meta name="keywords" content="{{ page.keywords }}">
  {% seo %}
  <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.url}}" />
  <link href="assets/css/styles.css" rel="stylesheet">
  <!-- // for subscribe -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6KWR5GVFG7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6KWR5GVFG7');
  </script>
</head>

<body>

  {% include header.html %}
  {% include icons.html %}
  <section class="latest-posts flex">
    <div class="container">
      <ul class="latest-posts-list">
        <li class="post-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section">
            <p class="category">Create Website</p>
            <h2 class="heading">Share Post Updates Using MailChimp Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by sending post straight to contacts inboxes.  we will teach you how you can share blog updates automatically by sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="post-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section">
            <p class="category">Create Website</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="post-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section">
            <p class="category">Create Website</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="post-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section">
            <p class="category">Create Website</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="read-all-blogs">
    <div class="container">
      <div class="content-section">
        <h1 class="font-weight-light">Check out the latest tech blogs</h1>
        <a class="lead" href="blog">EXPLORE ALL</a>
      </div>
    </div>
  </section>
  <section class="blog-categories flex">
    <div class="container">
      <ul class="categories-list flex">
        <li class="categories-item">
          <a class="cat-lnk">Create a Website</a>
        </li>
        <li class="categories-item">
            <a class="cat-lnk">Amazon S3</a>
        </li>
        <li class="categories-item">
            <a class="cat-lnk">Amazon S3</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="trending-blogs">
    <div class="container">
      <ul class="trending-list flex">
        <li class="trending-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section flex">
            <p class="category">Create Website</p>
            <p class="s-date">Jul 01, 2020</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="trending-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section flex">
            <p class="category">Create Website</p>
            <p class="s-date">Jul 01, 2020</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="trending-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section flex">
            <p class="category">Create Website</p>
            <p class="s-date">Jul 01, 2020</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="trending-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section flex">
            <p class="category">Create Website</p>
            <p class="s-date">Jul 01, 2020</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="trending-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section flex">
            <p class="category">Create Website</p>
            <p class="s-date">Jul 01, 2020</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
        <li class="trending-item">
          <figure class="image-section relative">
            <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
          </figure>
          <div class="lower-section flex">
            <p class="category">Create Website</p>
            <p class="s-date">Jul 01, 2020</p>
            <h2 class="heading">Share Post Updates Using MailChimp</h2>
            <p class="content">In this Tutorial, we will teach you how you can share blog updates automatically by
              sending post straight to contacts inboxes.</p>
          </div>
        </li>
      </ul>

    </div>
  </section>
  <section class="newsletter relative">
    <figure class="image-section relative">
      <img class="object-fit lazy" src="/assets/img/create-a-website/share-post-updates/share-post.jpg">
    </figure>
    <div class="news-container relative flex">
        <div class="container flex">
            <h2 class="heading">Get our Tech Newsletter Weekly</h2>
            {% include subscribe.html %}
          </div>
    </div>
  </section>
  <section id="aboutus" class="who-we-are">
    <div class="container flex">
      <h2 class="heading">We at TechyLane write blogs to help technical people solve their technical queries</h2>
      <ul class="item-list">
        <li class="item flex">
          <svg class="svg-icon">
            <use xlink:href="#icon-search" />
          </svg>
          <p>Deliver Richful Content</p>
        </li>
        <li class="item flex">
          <svg class="svg-icon">
            <use xlink:href="#icon-search"/>
          </svg>
            <p>Helps Save Time and Effort of Developers</p>
        </li>
        <li class="item flex">
            <svg class="svg-icon">
                <use xlink:href="#icon-search"/>
            </svg>
            <p>Provide Detailed knowledge of the topics</p>
        </li>
      </ul>
    </div>
  </section>

  {% include footer.html %}

  <script src="assets/js/script.js"></script>
</body>

</html>